nav{
    display: flex;
    width: 100%;
    background-color: green;
}

nav>a{
    display: block;
    padding: 20px;
    flex-basis: 100;
    color: whitesmoke ;
    text-decoration: none;
    text-transform: uppercase;

}

nav>a:hover{
    background-color: yellowgreen;
    color : #111
}